@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

body {
    margin: 0;
    color: #09001e;
    font-family: "Roboto Mono", monospace;
}

* {
    box-sizing: border-box;
}

#page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
    color: #09001e3f;
}
